<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <h1>Services Provided</h1>
  <label>Choose the services that you need :</label>
  <div>
    <div>
      <button type="button" class="btn btn-light">
        <a href="appointment">See your schedueled appointments</a>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">
        <a href="getHelp/Akademik">Konsultasi Akademik</a>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">
        <a href="getHelp/Percintaan">Konsultasi Percintaan</a>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">
        <a href="getHelp/Bakat">Konsultasi Bakat</a>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">
        <a href="getHelp/Perkembangan-Anak">Konsultasi Anak</a>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">
        <a href="getHelp/Keluarga">Konsultasi Keluarga</a>
      </button>
    </div>
  </div>
  <!-- <select name="services-provided" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option value="Akademik">Konsultasi Akademik</option>
      <option value="Percintaan">Konsultasi Percintaan</option>
      <option value="Bakat">Konsultasi Bakat</option>
      <option value="Perkembangan Anak">Konsultasi Perkembangan Anak</option>
      <option value="Keluarga">Konsultasi Keluarga</option>
    </select>-->
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>